@import 'src/stylings/_mixins.scss';

// #module-grid {
//     #module-content {
//         grid-area: A;
//     }

    
//     $grid-pattern:  'A A A A A B B';
//     @include gov-grid-template(2,7,$grid-pattern);
// }

#note-panel {
    position: absolute;

    right:0px;
    width: 25%;
}