@import 'src/stylings/_mixins.scss';

.content{
    margin: 20em;
}

#note-panel {
    position: absolute;

    right:0px;
    min-width: 25%;
}

app-note-panel{
    position: absolute;
    top:7%;
    right: 0;
   // min-width: 25%;
}