<div *ngIf="!loggedIn">
  <app-login
    (verified)="userLoggedIn()">
  </app-login>
</div>
<div *ngIf="loggedIn">
  <mat-toolbar>
    <mat-toolbar-row>
      <a ><img src="..\..\..\assets\images\hive.svg" class="home-icon"></a> 
      <div class="menu">
          <nav mat-tab-nav-bar [backgroundColor]="background">
            <a mat-tab-link (click)="navigateTo('/level-up')"
                [active]="isTabActive('/level-up')">Level up</a>

            <a mat-tab-link (click)="activeLink = '/level-up'"
            [active]="activeLink == '/level-up'">Report a bug</a>
            
            <a mat-tab-link (click)="activeLink = '/level-up'"
                [active]="activeLink == '/level-up'">About</a>
          </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <router-outlet></router-outlet>

</div>