<div *ngIf="!loggedIn">
  <app-login
    (verified)="userLoggedIn()">
  </app-login>
</div>
<div *ngIf="loggedIn">
  <mat-toolbar>
    <mat-toolbar-row>
      <a ><img src="..\..\..\assets\images\hive.svg" class="home-icon"></a> 
      <div class="menu">
        <mat-tab-group>
          <mat-tab routerLink="/level-up" routerLinkActive="active" label="Level up"></mat-tab>
          <mat-tab label="Report a bug"></mat-tab>            
          <mat-tab label="About"></mat-tab>
        </mat-tab-group>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <router-outlet></router-outlet>

</div>