mat-toolbar {
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}
nav {
    height: 64px;
    justify-content: flex-end;
}

.mat-tab-links, .mat-tab-link {
    height: 64px;
}

.menu{
    display: flex;
    float: right;
    justify-content: flex-end;
    width: 100%;
}

mat-toolbar{
    background-color: white;
}

.home-icon{
    height: 64px;
}