@import 'src/stylings/_mixins.scss';


#panel {
    margin: 5%;
    padding: 5%;

    mat-form-field{
        display: block;
        box-sizing:content-box;
    }

}

.button-block{
    display: flex;
    justify-content: flex-end;
}