@import 'src/stylings/_mixins.scss';


#panel {
    // min-width: 1000px;
    // border-style: solid;
    // border-color: black;
    // border-width: 1px;
    margin: 5%;
    padding: 5%;
    

    mat-form-field{
       // padding-top: 8px;
        display: block;
        box-sizing:content-box;
    }

}

.button-block{
    display: flex;
    justify-content: flex-end;
}