<mat-card id="panel">
  <app-note *ngFor="let note of notes" [note]="note"> </app-note>

  <form (ngSubmit)="addNewNote()" #noteForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        type="text"
        required
        class="form-control"
        name="name"
        #name="ngModel"
        [(ngModel)]="newNote.name"
        id="name"
      />
      <mat-error
        [hidden]="name.valid || name.pristine"
        class="alert alert-danger"
      >
        Please give your note a title
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        rows="4"
        matInput
        placeholder="Note"
        type="text"
        class="form-control"
        id="content"
        [(ngModel)]="newNote.content"
        name="content"
      ></textarea>
    </mat-form-field>

    <div class="button-block">
        <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!noteForm.form.valid"
      >
        Submit
      </button>
    </div>
    

  </form>
</mat-card>
