/* You can add global styles to this file, and also import other style files */
@import "./stylings/material-theme";
// <!-- Latest compiled and minified CSS -->
// <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
// <!-- jQuery library -->
// <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
// <!-- Latest compiled JavaScript -->
// <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

@import "./stylings/hexagon";

#submit_note:invalid {
    background-color:rgb(177, 177, 177);
    border-radius:6px;
    border:1px solid rgb(44, 44, 44);
    color:#ffffff !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    position: relative;
    left: 0px;
}

#submit_note:valid {
    background-color:rgb(44, 44, 44);
    border-radius:6px;
    border:1px solid rgb(44, 44, 44);
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:2px 16px;
}


body {
    margin: 0px;    
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

// Todo: Remove when bootstrap is working
.container {
    max-width: 700px;
    margin: auto;
}